.gradient_Home{
    background: linear-gradient(90deg, rgba(134,239,172,1) 0%, rgba(59,130,246,1) 50%, rgba(147,51,234,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.25rem;
}
.p_black{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.p_gradient{
    background: linear-gradient(90deg, rgba(134,239,172,1) 0%, rgba(59,130,246,1) 50%, rgba(147,51,234,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.getstarted_button{
    font-weight: 700;
    background:linear-gradient(90deg, rgba(146,67,187,1) 10%, rgba(76,74,221,1) 80%);
    height: 40px;
    width: 140px;
    border-radius: 5px;
    color: white;
    margin-top: 24px;
}
.card_gradient{
    background: linear-gradient(90deg, rgba(119,205,154,1) 10%, rgba(33,31,227,1) 80%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
   
}
.started{
    width: 100%;
    color: white;
    background: #2563EB;
    padding: 10px;
    font-size: 22px;
    border-radius: 6px;
    margin-top: 40px;
    border:1px solid #2563EB;

}
.started:hover{
    color: #2563EB;
    border:1px solid #2563EB;
    background-color: white;
}